<!-- ORIG-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
                <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-right navbar-logo">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a ng-href="{{vm.tagline.link}}" target="_blank">
                                {{vm.tagline.text}}
                            </a>
                        </li>
                        <li class="dropdown dropdown-big">
                            <a href="http://www.angularjs.org" target="_blank">
                                <img src="images/AngularJS-small.png" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gulpjs.com/" target="_blank">
                                <img src="images/gulp-tiny.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse - ->
    </div>
</nav>
-->