<!-- Header inject -->
<div ng-controller="Shell as vm">

    <!-- Sidebar inject -->
    <div ng-include="'app/layout/sidebar.html'" ></div>

    <div id="wrapper">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Networking App POC</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul ng-controller="Sidebar as vm" id="sidebar-wrapper" class="nav navbar-nav">
                        <li class="__nlightblue __fade-selection-animation" ng-class="vm.isCurrent(r)"
                            ng-repeat="r in vm.navRoutes">
                            <span class="triangle"></span>
                            <a ui-sref="{{r.name}}"
                               ng-bind-html="r.settings.content"></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Fixed navbar -->
        <div id="ar-content" class="row">
            <div class="col-xs-12">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12" id="main-content">
                                    <!-- Content inject -->
                                    <div ui-view></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# page content -->
            </div>
        </div>
        <!-- Loader inject -->
        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </div>
    <!-- /#wrapper -->    
</div><!--/.  ng-controller="Shell as vm"-->