<!-- Header inject -->
<div ng-controller="Shell as vm">

    <!-- TopNav inject -->
    <div class="row">
        <div class="col-xs-12">
            <nav id="ar-header" class="clearfix navbar navbar-default">
                <ht-top-nav title="vm.title" tagline="vm.tagline"></ht-top-nav>
            </nav>       
        </div>
    </div>

    <!-- Sidebar inject -->
    <div ng-include="'app/layout/sidebar.html'" ></div>

    <div id="wrapper">
                        
        <div id="ar-content" class="row">
            <div class="col-xs-12">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12" id="main-content">
                                    <!-- Content inject -->
                                    <div ui-view></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# page content -->
            </div>
        </div>

        <!-- Loader inject -->
        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </div>
    <!-- /#wrapper -->    
</div><!--/.  ng-controller="Shell as vm"-->