/* 
*
*
*     This is the junk-drawer css file.  
*     Once decided upon they need to be worked into the SASS Framework
*
*
*/
html {
  min-height: 100%;
  background: #2d353c;   
  }

body {
  background: none;
}


/* OOCSS */
@media (max-width: 970px){
  .xs-zindex-1 {
    z-index: -1 !important; 
  }  
}

.navbar-default {
  background-color: none;
  background: none; }

.navbar-brand {
  padding: 18px 15px 15px 20px; }

.navbar-header {
  float: none; }

.content {
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  height: 500px;
  position: relative;
  top: 0px;
  overflow: hidden; }

.tabsample2 ul {
  float: left;
  margin: 35px 10px 0px 0px; }

.tabsample2 li {
  text-align: right;
  padding-bottom: 45px; }

.tabsample2 #container {
  float: left;
  overflow-x: scroll;
  width: 80%;
  height: 302px; }

.tabsample2 #mobileusage {
  width: 800px;
  height: 300px;
  border: 1px dotted #40bf80; }

#main-content {
  padding-top: 0;
  background: #fff;
  margin-top: 20px;
  padding-bottom: 80px;
  margin: 0; }

.navbar-default {
  background-color: none;
  border-color: #e7e7e7;
  border-radius: 0;
  height: 63px; }

.navbar {
  position: relative;
  height: 55px;
  margin-bottom: 0;
  border: 1px solid transparent; }

.navbar-fixed-top {
  position: fixed !important; }

ul.ar-sidenav {
  padding: 0;
  margin: 1px 0 0 0; }

ul.ar-sidenav li {
  list-style-type: none;
  color: #fff;
  border: rgba(200, 200, 200, 0.08) solid 1px;
  position: relative; }

ul.ar-sidenav a {
  color: #fff;
  font-size: 13px;
  color: #fff;
  padding: 0px;
  padding: 5px 0px;
  margin: 0;
  display: block;
  text-decoration: none; }

ul.ar-sidenav a i {
  padding: 7px 18px;
  font-size: 28px;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out; }

ul.ar-sidenav .current i,
ul.ar-sidenav .current span {
  color: #009ddc; }

ul.ar-sidenav a:hover {
  background: rgba(100, 100, 100, 0.2);
  text-decoration: none; }

ul.ar-sidenav li.current span.triangle {
  display: block;
  height: 0px;
  width: 0px;
  background: none;
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;
  border-right: 21px solid #fff;
  position: absolute;
  right: -2px;
  top: -3px;
  padding: 0;
  margin: 0;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in; }

ul.ar-sidenav li span.triangle {
  display: block;
  padding: 0;
  margin: 0; }

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* margin-left: 240px; */ }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 55px;
  /* border: red solid 10px !important; */
  width: 250px; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  /*position: absolute;*/
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  background:#fff;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 265px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
#ar-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  border: red solid; }

#ar-header {
  overflow: hidden; }

#ar-content {
  background: #fff; }

/* Dashboard */
/* Custom Colored Panels */
.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c; }

.panel-green a {
  color: #5cb85c; }

.panel-green a:hover {
  color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f; }

.panel-red a {
  color: #d9534f; }

.panel-red a:hover {
  color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e; }

.panel-yellow a {
  color: #f0ad4e; }

.panel-yellow a:hover {
  color: #df8a13; }

/* User Nav */
#ar-usernav i {
  font-size: 20px;
  color: #fff;
  padding: 4px 10px 0 0px;
  float: left; }

#ar-usernav .badge {
  margin: 4px 0px 0 3px;
  float: left; }
#ar-usernav span.user-info {
  color:#fff;
} 
#ar-usernav img {
  margin: -4px 0 0 14px;
  border-radius: 20px; 
  max-height:36px;
  max-width:36px;
}

/* ----- 
CSS3 Ringing Bell animation
Currently only works in WebKit browsers
------ */
.bell {
  opacity: 1;
  -webkit-animation: ring 8s 1s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 8s 1s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 8s 1s ease-in-out infinite;
  transform-origin: 50% 4px; }

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0); }
  1% {
    -webkit-transform: rotateZ(30deg); }
  3% {
    -webkit-transform: rotateZ(-28deg); }
  5% {
    -webkit-transform: rotateZ(34deg); }
  7% {
    -webkit-transform: rotateZ(-32deg); }
  9% {
    -webkit-transform: rotateZ(30deg); }
  11% {
    -webkit-transform: rotateZ(-28deg); }
  13% {
    -webkit-transform: rotateZ(26deg); }
  15% {
    -webkit-transform: rotateZ(-24deg); }
  17% {
    -webkit-transform: rotateZ(22deg); }
  19% {
    -webkit-transform: rotateZ(-20deg); }
  21% {
    -webkit-transform: rotateZ(18deg); }
  23% {
    -webkit-transform: rotateZ(-16deg); }
  25% {
    -webkit-transform: rotateZ(14deg); }
  27% {
    -webkit-transform: rotateZ(-12deg); }
  29% {
    -webkit-transform: rotateZ(10deg); }
  31% {
    -webkit-transform: rotateZ(-8deg); }
  33% {
    -webkit-transform: rotateZ(6deg); }
  35% {
    -webkit-transform: rotateZ(-4deg); }
  37% {
    -webkit-transform: rotateZ(2deg); }
  39% {
    -webkit-transform: rotateZ(-1deg); }
  41% {
    -webkit-transform: rotateZ(1deg); }
  43% {
    -webkit-transform: rotateZ(0); }
  100% {
    -webkit-transform: rotateZ(0); } }
@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0); }
  1% {
    -moz-transform: rotate(30deg); }
  3% {
    -moz-transform: rotate(-28deg); }
  5% {
    -moz-transform: rotate(34deg); }
  7% {
    -moz-transform: rotate(-32deg); }
  9% {
    -moz-transform: rotate(30deg); }
  11% {
    -moz-transform: rotate(-28deg); }
  13% {
    -moz-transform: rotate(26deg); }
  15% {
    -moz-transform: rotate(-24deg); }
  17% {
    -moz-transform: rotate(22deg); }
  19% {
    -moz-transform: rotate(-20deg); }
  21% {
    -moz-transform: rotate(18deg); }
  23% {
    -moz-transform: rotate(-16deg); }
  25% {
    -moz-transform: rotate(14deg); }
  27% {
    -moz-transform: rotate(-12deg); }
  29% {
    -moz-transform: rotate(10deg); }
  31% {
    -moz-transform: rotate(-8deg); }
  33% {
    -moz-transform: rotate(6deg); }
  35% {
    -moz-transform: rotate(-4deg); }
  37% {
    -moz-transform: rotate(2deg); }
  39% {
    -moz-transform: rotate(-1deg); }
  41% {
    -moz-transform: rotate(1deg); }
  43% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(0); } }
@keyframes ring {
  0% {
    transform: rotate(0); }
  1% {
    transform: rotate(30deg); }
  3% {
    transform: rotate(-28deg); }
  5% {
    transform: rotate(34deg); }
  7% {
    transform: rotate(-32deg); }
  9% {
    transform: rotate(30deg); }
  11% {
    transform: rotate(-28deg); }
  13% {
    transform: rotate(26deg); }
  15% {
    transform: rotate(-24deg); }
  17% {
    transform: rotate(22deg); }
  19% {
    transform: rotate(-20deg); }
  21% {
    transform: rotate(18deg); }
  23% {
    transform: rotate(-16deg); }
  25% {
    transform: rotate(14deg); }
  27% {
    transform: rotate(-12deg); }
  29% {
    transform: rotate(10deg); }
  31% {
    transform: rotate(-8deg); }
  33% {
    transform: rotate(6deg); }
  35% {
    transform: rotate(-4deg); }
  37% {
    transform: rotate(2deg); }
  39% {
    transform: rotate(-1deg); }
  41% {
    transform: rotate(1deg); }
  43% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }
