<div class="panel">
    <div class="panel-heading ng-binding" ng-show="content" ng-click="collapse()">Connections</div>
    <div class="panel-body" ng-hide="collapsed">
        <div class="col-xs-12">
            <div class="list-group" ng-repeat="f in p.friends  track by $index">
                <div class="list-group-item">
                    <div class="row-picture">
                        <!--<img class="circle" src="/app/img/{{p.img}}" alt="icon">-->
                    </div>
                    <div class="row-content">
                        <p class="list-group-item-heading">{{f}}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>
        </div>
    </div>
</div>