
<!-- change goCats to not true or true -->
<a href ng-click="goCats = !goCats; countCats()" class="btn btn-primary btn-lg">Toggle Cats</a>


<div class="col-xs-6">
    <h1>POOP - {{vm.personsData.people}}</h1>
    <img ng-src="http://i.imgur.com/vkW3Lhe.jpg" class="img-responsive img-thumbnail" ng-show="goCats && !twoCats">
</div>

<!--<div class="col-xs-8" >-->
    <!--<a class="btn btn-success btn-lg" ng-click="likeMe(user)">Make Friends<div class="ripple-wrapper"></div></a>-->
<!--</div>-->

<!--<div class="col-xs-8">-->
    <!--<p>{{user.like}}</p>-->
    <!--<a class="btn btn-success btn-lg">Friend Me<div class="ripple-wrapper"></div></a>-->
<!--</div>-->

<!--<div class="col-xs-6">-->
    <!--&lt;!&ndash; change goCats to not true or true &ndash;&gt;-->
    <!--<a href ng-click="goCats = !goCats" class="btn btn-primary btn-lg">Make Friends</a>-->
<!--</div>-->

<!--<div class="col-xs-6">-->
    <!--<img ng-src="http://i.imgur.com/vkW3Lhe.jpg" class="img-responsive img-thumbnail" ng-show="goCats">-->
<!--</div>-->

<!--<div ng-show="!!user.rank">-->
    <!--Rank: {{user.rank}}-->
<!--</div>-->
<!--<br>-->
<!--<button class="btn btn-success" ng-show="!user.rank" ng-click="knightMe(user)"> Kight Me </button>-->

